body {
  background-color: #16302B;
}

.navbar {
  background-color: #16302B;
  padding-left: 2%;
  font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
  color: #f9ead7;
}


.index-banner-image{
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url("panorama.jpg");
  height: 30em;
  background-position: center;
  background-repeat: no-repeat;
  background-size:  100em;
  position: relative;
}

.history-banner-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url("villa.jpg");
  height: 30em;
  background-position: center;
  background-repeat: no-repeat;
  background-size:  100em;
  position: relative;
}

.visit-banner-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url("WhatsApp\ Image\ 2022-10-27\ at\ 20.06.30.jpg");
  height: 30em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100em;
  position: relative;
}

.banner-title {
  font-weight: bold;
}

.banner-text {
  font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
  color: #f9ead7;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.banner-citation {
  opacity: 0.8;
  padding-left: 1%;
  color: #7f7262;
  padding-bottom: 2%;
}

.main-titles {
  padding-top: 2%;
  padding-bottom: 2%;
  font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
  color: #d6c7b5;
  font-weight: bold;
  text-align: center;
  background-color: #C3423F;
}

.main-text {
  padding-bottom: 2%;
  padding-top: 2%;
  font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
  color: #d6c7b5;
}

hr {
  border-color: #c8baa8;
  border-width: 5px;
}

.funicular-img{
  display: block;
  margin: auto;
  width: 100%;
}

.index-img{
  display: block;
  margin: auto;
  width: 100%;
}

.ski-img{
  width: 100%;
  display: block;
  margin: auto;
}

a{
  color: #c8baa8;
  font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
}

a:hover{
  color: #7f7262;
}

.nav-link{
  color: #7f7262;
  font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
}

.nav-link:hover{
  color: #c8baa8;
}
.slide-citation{
  font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
    opacity: 0.8;
    color: #ffffff;
    font-size: smaller;
}

.slide-title{
  font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
    opacity: 0.9;
    color: #ffffff;
}

.map-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 100%; 
}

.live-map{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.citation {
  font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
   opacity: 0.8;
   color: #7f7262;
   padding-bottom: 2%;
 }

 footer{
  padding-bottom: 2%;
  padding-top: 2%;
  color: #7f7262;
  font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
}

.cite-title{
  text-align: center;
  background-color: #C3423F ;
  color: #d6c7b5;
}

.references{
  padding-bottom: 2%;
  padding-top: 2%;
  font-size: small;
}

.train-img-title{
  font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
  color: #c8baa8;
  text-align: center;
  opacity: 0.8;
}

.activity-text-titles{
  font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
  color: #c8baa8;
  font-weight: bold;
  padding-bottom: 2%;
  padding-top: 3%;
}

